name: Java CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Maven
        run: mvn -B clean package
      - name: Publish Unit Test Results
        uses: ScaCap/action-surefire-report@v1.0.5
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
